/* @import "tailwindcss"; no thanks! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

body {
    padding: 20px 2% 20px 2%;
    color: #333;
    background-color: silver;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-box {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
}

.logo {
    display: inline-block;
    color: #fff;
    background-color: #1877F2;
    padding: 10px 30px 15px 30px;
    border-radius: 25px;
    font-size: 25px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.logo:hover {
    opacity: 0.7;
    transition: 0.3s;
}

h1,
h2,
h3,
nav,
header,
footer,
.user-data,
.user-post,
.user-list a,
.mf-roundel {
    text-align: center;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-weight: 500;
    cursor: pointer;
}

p {
    line-height: 175%;
}

main {
    max-width: 900px;
    margin: 150px auto 0 auto;
}

p,
nav a,
h1,
h2,
h3,
label,
.my-form button,
.button,
.user-list a,
.logo {
    letter-spacing: 2px;
}

h3 {
    margin: 0 0 20px 0;
}

.sign-in,
.sign-up {
    display: flex;
    justify-content: center;
    margin: 5% 2%;
}

.mf-roundel {
    padding: 90px 3% 0 3%;
    width: 100%;
}

.mf-roundel img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 50%;
}

nav a,
button,
.button,
.user-list a {
    cursor: pointer;
    font-size: 100%;
    padding: 20px;
    color: #fff;
    background-color: #333;
    border-radius: 10px;
}

nav a:hover,
button:hover,
.button:hover,
.user-list a:hover {
    transition: 0.3s;
    background-color: #505050;
}

button {
    border: 0;
}

.my-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 30px 40px 30px;
    background-color: #eee;
    border-radius: 10px;
}

label {
    padding: 0 0 10px 0;
}

.my-form input,
.my-form textarea {
    width: 100%;
    display: block;
    margin: 15px 0 30px 0;
    padding: 5px 10px;
    font-family: monospace;
    font-size: 150%;
}

nav,
.user-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
    margin: 75px auto 100px auto;
}

.user-list {
    flex-direction: column;
}

nav a,
.user-list a,
.button {
    flex: 1;
    text-decoration: none;
}

.my-form {
    margin: 50px auto;
}

.my-form button {
    width: 100%;
}

.user-data {
    margin: 12% 0;
    padding: 2%;
}

.user-post {
    margin: 0 0 20px 0;
    padding: 1.4em 1em 1.6em 1em;
}

.user-data,
.user-post {
    background-color: aliceblue;
    border-radius: 10px;
}

hr {
    margin-bottom: 50px;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 125%;
    padding: 120px 10px 100px 10px;
    letter-spacing: 1px;
}

@media screen and (min-width:900px) {

    .logo-box {
        justify-content: right;
    }

    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 225%;
    }

    h3 {
        font-size: 175%;
    }

    main {
        margin: 100px auto 0 auto;
    }
}