/* @import "tailwindcss"; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

body {
    padding: 2%;
    color: #333;
    background-color: silver;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-block;
    color: #fff;
    background-color: #1877F2;
    padding: 10px 30px 15px 30px;
    border-radius: 25px;
    font-size: 25px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

h1,
h2,
h3,
nav,
header,
footer,
.user-data,
.user-post,
.user-list a {
    text-align: center;
}

h4 {
    font-weight: 500;
}

p {
    line-height: 175%;
}

main {
    max-width: 900px;
    margin: auto;
}

p,
nav a,
h1,
h2,
h3,
label,
.my-form button,
.button,
.user-list a,
.logo {
    letter-spacing: 2px;
}

h3 {
    margin: 0 0 20px 0;
}

.sign-in,
.sign-up {
    display: flex;
    justify-content: center;
    margin: 5% 2%;
}

nav a,
.user-list a,
button,
.button {
    cursor: pointer;
    font-size: 100%;
    padding: 20px;
    color: #fff;
    background-color: #333;
}

button {
    border: 0;
}

.my-form {
    max-width: 400px;
    margin: auto;
}

label {
    padding: 0 0 10px 0;
}

.my-form input,
.my-form textarea {
    font-family: monospace;
    margin: 5px 0 10px 0;
    padding: 5px;
    display: block;
    width: 100%;
}

nav,
.user-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
    margin: 50px auto;
}

.user-list {
    flex-direction: column;
}

nav a,
.user-list a,
.button {
    flex: 1;
    text-decoration: none;
}

.my-form {
    margin: 50px auto;
}

.my-form button {
    width: 100%;
}

.user-data {
    margin: 5% 0;
    padding: 2%;
    background-color: aliceblue;
}

.user-post {
    margin: 0 0 10px 0;
    padding: 1em 1em 1.4em 1em;
    background-color: #fff;
}