/* @import "tailwindcss"; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

body {
    color: #333;
    background-color: silver;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

a,
button {
    cursor: pointer;
    font-size: 100%;
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    padding: 0 0 10px 0;
}

input, textarea {
    display: block;
    width: 100%;
}

button {
    padding: 20px;
    color: #fff;
    background-color: #000;
    border: 0;
}

.sign-in,
.sign-up {
    display: flex;
    justify-content: center;
    margin: 2%;
}